version: '3.7'
services:
  mappers:
    image: map_reduce
    expose:
  #foreach( $port in $mappersPorts )
    - '$port'
  #end

    entrypoint: java -cp ../../../ com/atypon/nodes/MapperNode ${hostAddress} ${hostPort}
    deploy:
      replicas: ${numOfMappers}

  reducers:
    image: map_reduce
    expose:
  #foreach( $port in $reducersPorts )
    - '$port'
  #end

    entrypoint: java -cp ../../../ com/atypon/nodes/ReducerNode ${hostAddress} ${hostPort}
    deploy:
      replicas: ${numOfReducers}
    depends_on:
      - mappers
