version: '3.7'
services:
  ipcollector:
    image: map_reduce
    ports:
      - target: ${IPCport}
        published: ${IPCport}
        protocol: tcp
        mode: host
    entrypoint: java -cp ../../../ com/atypon/nodes/SwarmIPCollector ${hostAddress}
    deploy:
      placement:
           constraints: [node.role == manager]
      mode: global

  mappers:
    image: map_reduce
    ports:
  #foreach( $port in $mappersPorts )
    - target: $port
        published: $port
        mode: host
  #end


    entrypoint: java -cp ../../../ com/atypon/nodes/MapperNode ${ipcAddress}
    deploy:
      placement:
        constraints: [node.labels.name == mapper]
      mode: global
      endpoint_mode: dnsrr
    depends_on:
      - ipcollector

  reducers:
    image: map_reduce
    ports:
  #foreach( $port in $reducersPorts )
    - target: $port
        published: $port
        mode: host
  #end


    entrypoint: java -cp ../../../ com/atypon/nodes/ReducerNode ${ipcAddress}
    deploy:
      placement:
           constraints: [node.labels.name == reducer]
      mode: global
      endpoint_mode: dnsrr
    depends_on:
      - ipcollector

networks:
  mynet1:
    driver: overlay
    attachable: true